<div class="body_modal">

  <div>
    <div class="title_modal">
      <span class="tittle-modal"><b>DOWNGRADING PACKAGE</b></span></div>
    <div class="full_text">
      <div class="text_modal"><span>All slices selected will be removed from the shopping cart.</span></div>
      <div class="text_modal"><span>Are you sure you want to continue</span></div>
    </div>
    <div class="continue_button">
      <button class='button_close' (click)="closeModal(false)">NO, BRING ME BACK</button>

    </div>
    <div class="class">
      <button class="pop-up_button" (click)="closeModal(true)"> <u>YES, I AM AGREE</u></button>
    </div>
  </div>
</div>
