<app-header></app-header>
<div class="terms-and-conditions">

  <div class="header-banner"
       appAdminChange="img_head"
       [ngStyle]="{'background':'url(' + images.img_head + ') center no-repeat'}">
    <div id="header-arrow-left"></div>
    <div id="header-arrow-right"></div>
    <div class="container text-wrapper">
      <h2 class="title" appAdminChange="TermsAndConditions.TermsAndConditions">{{'TermsAndConditions.TermsAndConditions' | translate}}</h2>
    </div>
  </div>

  <div class="container">
    <div class="line"
    appAdminChange="img_body1"
    [ngStyle]="{'background':'url(' + images.img_body1 + ') left no-repeat'}">
    </div>
    <div class="text">
      <p appAdminChange="TermsAndConditions.p1">
        {{'TermsAndConditions.p1' | translate}}
      </p>
      <p appAdminChange="TermsAndConditions.p2">
        {{'TermsAndConditions.p2' | translate}}
      </p>
    </div>
  </div>

  <app-footer></app-footer>
</div>
