$red: #cc0033;
$yellow: rgb(255, 202, 95); 
$black: #180a21;
$white: #ffffff;
$grey: #f6f4f7;
$clearWhite: rgba(255, 255, 255, 0.8); //прозрачный белый 
$clearBlack: rgba(0, 0, 0, 0.502); //прозрачный черный

$font: "Josefin Sans";
$fontKrinkes: "Krinkes-Decor";
$fontAmatic: "Amatic SC";

$fontAssistantHerbew: "Assistant";
$fontDavidHerbew: "David Libre";

  

  
