<div class="image-editor">
  <div class="editor">

    <!-- <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="128"
        format="png"
        (imageCroppedBase64)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper> -->

  </div>
  <div class="controls">
    <div class="save-btn">
      <app-rounded-button
        [label]="'SAVE AND UPLOAD'"
        [primary]="true"
      ></app-rounded-button>
    </div>
  </div>
</div>