.pending-song {
    padding-left: 48px;
    padding-right: 40px;
    border-bottom: 8px solid #F6F4F7;
    height: 48px;
    width: 50%;
    background: #ffffff;
    display: flex;
    float: left;
    &.full {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
    .loader {
        background: url('/assets/images/editing-system/upload-spinner.gif');
        background-size: 240px;
        width: 28px;
        height: 32px;
        margin-top: 8px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .song-name {
        font-size: 24px;
        font-weight: 400;
        font-family: 'Josefin Sans';
        margin: 9px 33px 0 33px;
        min-width: 150px;
        max-width: 150px;
        overflow: hidden;
    }
}