<div class="pop-up">
  <div class="header">
    <div class="pop-up-img">
      <img src="assets/img/pop-up/two lines and a circle.svg">
    </div>
    <div class="pop-up-header">
      <span>{{'RemoveSlice' | translate}}</span>
    </div>
  </div>
  <div class="content">
    {{'PopUpSlice-text1' | translate}}<br> {{'PopUpSlice-text2' | translate}}
  </div>
  <div class="footer">
    <button class="button-no">{{'NoGoBack' | translate | uppercase}}</button>
    <button class="button-yes">{{'YesImSure' | translate | uppercase}}</button>
  </div>
</div>
