<div class="library-audio-sm">
  <img
    (click)="switchPlayStopControl()"
    *ngIf="playStopSwitcher"
    src="../../../assets/images/library/Puse.png"
    alt="stop"
    class="stop"
  >
  <img
    (click)="switchPlayStopControl()"
    *ngIf="!playStopSwitcher"
    src="../../../assets/images/library/Play.png"
    alt="play"
    class="play"
  >
  <div class="song-name">{{trackData.name}}</div>
  <div class="track-wraper">
    <div class="progress-bar" [ngStyle]="{ width: playedProgress + '%' }"></div>
    <div class="loader-bar" [ngStyle]="{ right: loadedProgress + '%' }"></div>
    <input
      [ngModel]="currentPosition"
      (ngModelChange)="handleSliderChange($event)"
      *ngIf="isTouched"
      class="track"
      type="range"
      min="0"
      max="1"
      step="0.01"
    >
  </div>
  <div
    *ngIf="!isTouched"
    class="track-placeholder"
  ></div>
  <div class="time" *ngIf="audio.currentTime === 0 || isTouched === false">{{this.formatTime(trackData.duration)}}</div>
  <div class="time" *ngIf="audio.currentTime !== 0 && isTouched === true">{{this.formatTime(audio.currentTime)}}</div>

  <div
    class="use-btn"
    (click)="toggleUse(trackData)"
    [ngClass]="{'active': isUsed}"
  >Use</div>
  <!-- <img src="/assets/images/library/RedGarbageBasket.png" alt="delete" class="trash"> -->
</div>