@import "~variables.scss";
@font-face {
    font-family: midnight; /* Имя шрифта */
    src: url('/assets/fonts/Midnight_Bangkok.ttf')
}
::placeholder {
    color: $black;
    opacity: 1;
    text-transform: uppercase;
}
button:focus,  input:focus {
    outline:0;
}
button:hover{
    cursor: pointer;
}
button{
    user-select: none;
}
form{
    width: 430px;
}
input.ng-touched.ng-invalid{
  border: 2px solid $red;
}
input.ng-untouched{
  border: 0px solid $white;
}
input.ng-touched.ng-valid{
  border: 0px solid $white;
}
.invalidus{
    #email{
        border: 2px solid red !important;
    }
}
// #checkbox.ng-touched.ng-invalid{
//     .label-text{
//         color: $red;
//         #labelLink{
//             color: $red !important; 
//         }
//     }
// }

.signUp{
    width: 800px;
    height: 600px;
    border-style: solid;
    border-width: 0px;
    // border-color: rgb(254, 252, 237);
    box-shadow: 0px 0px 15.96px 5.04px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    background-image: url('/assets/images/sign-up/backgroung.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: -24px;
    font-family: 'Josefin Sans', sans-serif;
}

.leftContent {
  display: flex;
  width: 320px;
    align-items: center;
  background-color: $clearBlack;
//   rgba(24, 10, 33, 0.5);
/*  margin: -50px 0px -50px -50px;*/
}

#cook {
    width: 100px;
    padding-top: 20px;
    font-size: 16px;
    color: $white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  -moz-transform: matrix( 2.42502013394014,0,0,2.1749059497221,0,0);
  -webkit-transform: matrix( 2.42502013394014,0,0,2.1749059497221,0,0);
  -ms-transform: matrix( 2.42502013394014,0,0,2.1749059497221,0,0);
    opacity: 1;
    font-weight: 300;

}
#yourOwn {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    color: $white;
    opacity: 1;
}
#sliceShow {
    width: 100px;
    text-align: center;
    font-family: 'midnight';
    font-weight: 200;
    font-size: 16px;
    color: $white;
    opacity: 1;
    -moz-transform: matrix( 3.7813952135028,0,0,3.39138584170655,0,0);
  -webkit-transform: matrix( 3.7813952135028,0,0,3.39138584170655,0,0);
  -ms-transform: matrix( 3.7813952135028,0,0,3.39138584170655,0,0);
}

#withUs {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
#haveAcc {
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 9.88px rgba(0, 0, 0, 0.62);
      -moz-transform: scale(1.115, 1);
      -webkit-transform: scale(1.115, 1);
      -ms-transform: scale(1.115, 1);
}
#signIn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  font-size: 16px;
  color: rgb(255, 202, 95);
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 7.6px rgba(0, 0, 0, 0.004);
  -moz-transform: scale(1.115, 1);
  -webkit-transform: scale(1.115, 1);
  -ms-transform: scale(1.115, 1);
    margin-bottom: 220px;
}
.signUp div{
    display: flex;
    flex-direction: column;
}
.rightContent{
    margin: 30px 30px 30px 15px;
}
.rightContent input{
    margin-bottom: 30px;
//    text-transform: uppercase;
    width: 430px;
    height: 50px;
//    border: 0px solid $white;
    color: $black;
    padding-left: 15px;
    font-size: 16px;
}
#passmust{
  font-size: 16px;
  padding-top: 5px;
  padding-left: 23px;
  color: $red;
  line-height: 1.2;
  text-align: left;
  -moz-transform: scale(1.115, 1);
  -webkit-transform: scale(1.115, 1);
  -ms-transform: scale(1.115, 1);
}
#password{
    margin-bottom: 0;
}
#repassword{
    margin-bottom: 15px;
    margin-top: 10px;
}
#nameInput{
    margin-top: 0;
}
div mat-checkbox a{
    text-decoration: underline;
}
.error{
    color: $red;
}

#createBtn{
    margin-top: 15px;
    background-color: $red;
    font-size: 16px;
    color: $white;
    text-transform: uppercase;
    line-height: 1.2;
    -moz-transform: scale(1.115, 1);
    -webkit-transform: scale(1.115, 1);
    -ms-transform: scale(1.115, 1);
    border-radius: 30px;
    border: 0px solid $white;
    width: 220px;
    height: 45px;
    // font-weight: 200;
    margin-left: 105px;
    transition: 0.5s;
    &:active {
      transition: 0.5s;
      background-color: $yellow;
    }
}
#fb{
    background-color: rgb(59, 89, 152);
    font-size: 16px;
    color: $white;
    text-transform: uppercase;
    line-height: 1.2;
    -moz-transform: scale(1.115, 1);
    -webkit-transform: scale(1.115, 1);
    -ms-transform: scale(1.115, 1);
    border-radius: 30px;
    border: 0px solid $white;
    width: 260px;
    height: 45px;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}
.containerR{
    label{
        cursor: pointer;
    } 
    input[type="checkbox"]{
        display: none;
    }
    .label-text{
        display: flex;
        align-items: center;
        a{
        text-decoration: underline;
        padding-left: 5px;
        color: $black;
        }
    }
    .label-text:before{
        display: flex;
        align-items: center;
        justify-content: flex-start;
          transition: all 0.2s ease-in-out;
          margin: -6px 15px 0 0;
          width: 20px;
          height: 20px;
          border:2px solid #000;
          content: '';
    }
     :checked + .label-text:before{
        content: '✓';
        border:2px solid #000;
        font-size: 32px;
     }
}
.invalLabel{
    color: $red;
    a {
        color: $red !important;
    }
}

      





// CUSTOM_CHECKBOX
// //  -------------firstCheckbox
// #box{
//     min-width: 50px;
//     display: flex;
//     align-items: center;
//     width: fit-content;
//     flex-direction: row;
// }
// #check{
//     width: 20px;
//     user-select: none;
//     height: 20px;
//     position: relative;
//     top: 0px;
//     margin-right: 5px;
//     margin-left: 0px;
//     border: 2px solid #000;
//     img{
//         position: relative;
//         height: 25px;
//         top: -5px;
//         left: 0px;
//         display: none;
//     }
//     .visiable{
//         display: block !important;
//     }
// }

// #label{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     font-family: 'Josefin Sans';
//     font-size: 16px;
//     line-height: 1;
//     a{
//         text-decoration: underline;
//         padding-left: 5px;
//         color: $black;
//     }
// }
// //  -------------secondCheckbox
// #box2{
//     margin-top: 15px;
//     min-width: 50px;
//     display: flex;
//     align-items: center;
//     width: fit-content;
//     flex-direction: row;
// }
// #check2{
//     width: 20px;
//     user-select: none;
//     height: 20px;
//     position: relative;
//     top: 0px;
//     margin-right: 5px;
//     margin-left: 0px;
//     border: 2px solid #000;
//     img{
//         position: relative;
//         height: 25px;
//         top: -5px;
//         left: 0px;
//         display: none;
//     }
//     .visiable{
//         display: block !important;
//     }
// }
// #label2{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     font-family: 'Josefin Sans';
//     font-size: 16px;
//     line-height: 1;
//     a{
//         text-decoration: underline;
//         padding-left: 5px;
//         color: $black;
//     }
// }
// //  ----------endOfCheckbox
