<div class="pop-up">
  <img src="assets/img/pop-up/TopLeft.svg" width="230px" height="90px">
  <div class="background-gray">
    <div id="logo">
      <img src="assets/img/pop-up/SliceShowLogo.svg" width="190px" height="130px">
    </div>
  </div>
  <div class="content">
    <div class="name">
      <span>{{'Hi' | translate | uppercase}} ,AVIV!</span>
    </div>
    <div>
    {{'PopUpVerifyEmail-text1' | translate}}<br> {{'PopUpVerifyEmail-text2' | translate}}
    </div>
  </div>
  <div class="footer">
    <button class="button-yes"><span>{{'VerifyEmail' | translate | uppercase}}</span></button>
    <div class="background-gray1">
      <div id="bottom-right">
        <img src="assets/img/pop-up/BottomRight.svg" width="160px" height="70px">
      </div>
    </div>
  </div>
</div>