<div class="delete-slice-popup">
  <div class="delete-ctn">
    <div class="delete-ctn__header">
      <img class="header-image" src="../../../../assets/images/how_it_works/lines.png" alt="">
      <p class="header-text">{{'Modal.DeleteSliceHeader' | translate}}</p>
    </div>
    <div class="delete-ctn__text">
      <p>{{'Modal.DeleteSliceText1' | translate}}</p>
      <p>{{'Modal.DeleteSliceText2' | translate}}</p>
    </div>
    <div class="delete-ctn__buttons">
      <button class="general-btn cancel-btn" (click)="closePopup(false)">{{'Modal.DeleteSliceNo' | translate}}</button>
      <button class="general-btn confirm-btn" (click)="closePopup(true)">{{'Modal.DeleteSliceYes' | translate}}</button>
    </div>
  </div>

</div>
